body {
    background-color: rgb(57, 57, 57);
    margin: 0;

}

button {
    display: inline-block;
    color: white;
    border: rgb(31, 152, 251);
    background-color: rgb(31, 152, 251);
    margin: 2px;
    font-size: 24px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    
}

a[type=button], select{
        position: fixed;
        left: 10px;
        top: 10px;
        color: white;
    
}
input[type=text], select {
    background-color: rgb(29, 25, 25);
    color: white;
    width: 70%;
    padding: 12px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 30px;

    
}
input[type=date], select {
    background-color: rgb(29, 25, 25);
    color: white;
    width: 70%;
    padding: 12px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 30px;
    
}
    input[type=submit] {
    width: 90%;
    background-color: rgb(31, 152, 251);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;

   
}
    
    input[type=submit]:hover {
    background-color: rgba(31, 152, 251, 0.742);
    
}

li {
    width: auto;
    background-color: rgb(57, 57, 57);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    font-family: Verdana,sans-serif;
    left: 20px;
    top: 20px;

}

u{
    font-size: large;
    color: white;
    padding: 14px 20px;
    position: relative;
    left:10px;
    font-family: Verdana,sans-serif;
}
.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 100;
    color: rgb(182, 179, 179);
    font-size: 10px;
    font-family: Verdana,sans-serif;
    
}

.navbar {
    background-color: #333;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
   

}

.navbar a {
    font-family: Verdana,sans-serif;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

div [type="listbutton"] {
    top:100px;
}
.tabata {
    width: 50%;
    background-color: rgb(31, 152, 251);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    top: 30px;

}

.tabata:hover {
    background-color: rgba(31, 152, 251, 0.742);
}

.amrap {
    width: 50%;
    background-color: rgb(46, 251, 31);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    top: 30px;

}

.amrap:hover {
    background-color: rgba(46, 251, 31, 0.742);
}

.emom {
    width: 50%;
    background-color: rgb(255, 136, 0);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    top: 30px;


}

.emom:hover {
    background-color: rgba(255, 136, 0, 0.742);
}


.chrono {
    width: 50%;
    background-color: rgb(157, 9, 190);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    top: 30px;


}

.chrono:hover {
    background-color: rgba(157, 9, 190, 0.742);
}

.timer {
    width: 50%;
    background-color: rgb(208, 4, 4);
    color: white;
    padding: 14px 20px;
    display: block;
    position: relative;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    top: 30px;


}

.timer:hover {
    background-color: rgba(208, 4, 4, 0.742);
}


